#friends-display-link{
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 18px;
}

#friends-display-link i{
    color: rgba(0, 0, 0, 0.2);
}