.screens-header{
    display: flex;
    justify-content: space-between;
    padding: 60px var(--horizontal-space) var(--horizontal-space);
    margin-bottom: 15px;
    align-items: center;
}

.screens-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screens-header__icons span{
    margin-left: 25px;
    position: relative;
    
}

@keyframes rotateCog{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screens-header__icons .fa-gear:hover {
    animation: rotateCog 1s linear infinite;
}


.screens-header__notification{
    position: absolute;
}

.screens-header__dot{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    right: -8px;
    top:-2px;
}