.screens-header{
    display: flex;
    justify-content: space-between;
    padding: 60px var(--horizontal-space) var(--horizontal-space);
    align-items: center;
}

.screens-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screens-header__icons span{
    margin-left: 25px;
}